apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: list-and-get-storageclasses-and-nodes
rules:
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list"]
